= form_for :comment, :url => idea_comments_path(:idea_id => @idea.id) do |f|
  = f.text_area :text, :class => "input-textarea", :rows => "7", :columns => "20"
  = submit_tag "Post Comment", :class => "input-submit"
