%nav.navbar.navbar-default{ role: 'navigation' }
  %div.container-fluid
    %div.navbar-header
      %a.navbar-brand= link_to 'Home', root_path
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Dashboard', admin_dashboard_path
